
{% extends "base.html" %}
{% load static %}
{%block page_title%}
    {{month|title}}Challenge</title>
{%endblock%}
{% block css_files %}
 <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
<link rel="stylesheet" href="{% static "challenges/challenge.css" %}"> 
{% endblock  %}
{%block content%}
    <h2>The {{title|title}} {{month|title}} advice is :</h2>
    {%if text is not None%}
        <h1>{{ text|title}}</h1>
    {%else %}
        <h1>There is no task assigned</h1>
    {%endif%}
{%endblock%}
